<div class="newEditContainer">
  <div class="row">
    <div class="col col col-lg-8 offset-lg-2">
      <mat-card>
        <div class="row">
          <div class="col">
            <h1 class="titulo">{{ id ? "Editar Contacto" : "Nuevo Contacto" }}</h1>
            <div class="row">
              <div class="col text-right">
                <span class="mensajeRequerido">Campos requeridos *</span>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">
            <div class="contact-form">
              <form [formGroup]="formContact" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col">
                    <mat-form-field class="input-full-width">
                      <mat-label>Identificación*</mat-label>
                      <input
                        matInput
                        placeholder="Ingresar identificación"
                        formControlName="identificador"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="input-full-width">
                      <mat-label>Nombre*</mat-label>
                      <input
                        matInput
                        placeholder="Ingresar nombre"
                        formControlName="nombre"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="input-full-width">
                      <mat-label>Teléfono*</mat-label>
                      <input
                        matInput
                        placeholder="Ingresar teléfono"
                        formControlName="telefono"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="input-full-width">
                      <mat-label>Correo electrónico*</mat-label>
                      <input
                        matInput
                        placeholder="Ingresar correo electrónico"
                        formControlName="correo"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-6">
                    <mat-form-field class="input-full-width">
                      <mat-label>Fecha de nacimiento*</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="fechaNacimiento"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center">
                    <div class="submitButton">
                      <button
                        type="submit"
                        mat-stroked-button
                        color="primary"
                        [disabled]="!formContact.valid"
                      >
                        <app-spinner
                          class="spinnerContainer"
                          *ngIf="showSpinner"
                        ></app-spinner>
                        <span class="TextSubmitButton">{{
                          textSubmitButton
                        }}</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <a routerLink="/contacts">Ver contactos</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
