.contact-form {
  padding: 15px;
  .input-full-width {
    width: 100%;
  }
  .submitButton {
    margin-top: 30px;
  }
  .spinnerContainer,
  .TextSubmitButton {
    display: inline-block;
  }
  .spinnerContainer{
    margin-right: 10px;
  }
}

.titulo{
  margin: 0;
}

.mensajeRequerido{
  font-size: 12px;
}
